@model HostelManagement.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}


<h2>Welcome , @Model.Name  </h2>

@Html.ActionLink("Profile", "Edit", new { id = Model.Id }) |


@Html.ActionLink("Submit your application", "Requests", new { id = Model.Id }) |

@Html.ActionLink("Status of appliation", "SeeRequests", new { id = Model.Id }) |

@Html.ActionLink("complaint/feedback", "Feedback")


@ViewData["success"]