@model HostelManagement.Models.User
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<div class="navbar navbar-light" style="background-color: #e3f2fd">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Profile", "Edit", new { id = Model.Id })</li>
        @*<li> @Html.ActionLink("Submit your application", "Requests", new { id = Model.Id })</li>*@
        <li> @Html.ActionLink("Status of appliation", "SeeRequests", new { id = Model.Id }) </li>
        <li>   @Html.ActionLink("complaint/feedback", "Feedback", "UsersHome", new { id = Model.Id })</li>
        <li>   @Html.ActionLink("track rent", "TrackRent", new { id = Model.Id })</li>

        <li>@Html.ActionLink("Logout", "Logout", "UsersHome")</li>

    </ul>

</div>


    @*<h2>Welcome , @Model.Name  </h2>


        @Html.ActionLink("Profile", "Edit", new { id = Model.Id }) |


        @Html.ActionLink("Submit your application", "Requests", new { id = Model.Id }) |

        @Html.ActionLink("Status of appliation", "SeeRequests", new { id = Model.Id }) |

        @Html.ActionLink("complaint/feedback", "Feedback")


        @ViewData["success"]*@
