@model IEnumerable<HostelManagement.Models.Allocation>

@{
    ViewBag.Title = "AllocatedRooms";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h2>AllocatedRooms</h2>

<table class="table table-striped table-bordered">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Room_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_of_allocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room.Rent)
        </th>
        
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Room_no)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.User.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date_of_allocation)
        @*@item.Date_of_allocation.ToString("d")*@
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Room.Rent)
    </td>
    <td>
        @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
        @Html.ActionLink("Add Payment", "AddRent", new { id = item.Id }, new { @class = "btn btn-success btn-sm my-2 my-sm-0" }) 
        @Html.ActionLink("Deallocate", "Deallocate", new { id = item.Id }, new { @class = "btn btn-danger btn-sm my-2 my-sm-0" })
    </td>
</tr>
}

</table>
