@model IEnumerable<HostelManagement.Models.Room>

@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h2>Rooms</h2>

<p>
    @Html.ActionLink("Create New", "Create","Rooms")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room_no)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Room_no)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Capacity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.available)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rent)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Room_no }) |
        @Html.ActionLink("Details", "Details", new { id = item.Room_no }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Room_no })

    </td>
</tr>
}

</table>
