@model IEnumerable<HostelManagement.Models.Room>

@{
    ViewBag.Title = "Rooms";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}
@*<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>*@

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Scripts/css/cardRooms.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<style>
</style>

<h2>Room List</h2>

<p>
    @Html.ActionLink(" + ", "Create", "Rooms", new { }, new { @class = "btn btn-success" })
</p>
<hr/>

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-3 col-xs-12">

                <div class="single-card">
                    <div class="card-hover">
                        <div class="card-content">
                            <h4 class="card-title" style="">@item.Room_no</h4>
                            <p class="card-text">Capacity : @item.Capacity </p>
                            <p class="card-text">Available : @item.available </p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Room_no }, new { @class = "btn btn-primary btn-sm my-2 my-sm-0" })
                            @{
                                if (item.Capacity - item.available != 0)
                                {
                                    @Html.ActionLink("Details", "Details", new { id = item.Room_no }, new { @class = "btn btn-info btn-sm my-2 my-sm-0" })


                                }
                                else
                                {
                                    @Html.ActionLink("Details", "Details", new { id = item.Room_no }, new { @class = "btn disabled btn-info  btn-sm my-2 my-sm-0" })

                                }
                            }
                            @Html.ActionLink("Delete", "Delete", new { id = item.Room_no }, new { @class = "btn btn-danger btn-sm my-2 my-sm-0" })

                        </div>
                    </div>

                </div>
            </div>
        }

    </div>
</div>






