@model IEnumerable<HostelManagement.Models.Allocation>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}


<div>
    <div>
        <h2>Room no. : @Model.FirstOrDefault().Room_no</h2>
        <h5>Capacity : @Model.FirstOrDefault().Room.Capacity</h5>
        <h5>Availble : @Model.FirstOrDefault().Room.available</h5>
        <h5>Rent Rs. : @Model.FirstOrDefault().Room.Rent</h5>
    </div>
    <hr />
    <h4>Guests list</h4>
    <table class="table table-striped table-bordered">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_of_allocation)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.User.Address)
            </th>
           
        </tr>

        @foreach (var item in Model)
        {
    <tr>


        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_of_allocation)
        </td>

    </tr>
        }
        </table>

        <div>
            @*@Html.ActionLink("Back to List", "Index")*@
            @Html.ActionLink("Back to List", "Rooms", "AdminHome", new { }, new { @class = "btn btn-primary" })

        </div>
    </div>




