<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<style>

    .log {
                color: white;
            
    }

         .log a:hover {
                color: #000000;
            
    }


    .header {
  
        margin-top: 0px;
        padding-top: 0px;
        height: 50px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .navbar {
        padding-top: .5em;
        padding-bottom: .5em;
        border: 1px solid #a2a2a2;
        background-color: #000000;
        /*#f4f4f4 display: flex;*/
        align-items: center;
        /*box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);*/

        border-radius: 5px;
    }

</style>








<body style="margin-top:0px;padding-top:0px;margin-bottom:0px;padding-bottom:0px">

    @*<div class="header">
        <div class="p-5 text-center bg-light">
            <h1 class="mb-3" style="font-style:italic;">Hostel Management system</h1>
        </div>
    </div>*@
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "AdminHome")</li>
                <li>@Html.ActionLink("Users", "Users", "AdminHome")</li>
                <li>@Html.ActionLink("Rooms", "Rooms", "AdminHome")</li>
                <li>@Html.ActionLink("Allocated Rooms", "AllocatedRooms", "AdminHome")</li>

                <li>@Html.ActionLink("Track Rent", "TrackRent", "AdminHome")</li>
                <li>@Html.ActionLink("User feedback", "Feedback", "AdminHome")</li>
                @*<li>@Html.ActionLink("Logout", "Logout", "AdminHome")</li>*@
              


            <span class="navbar-brand " style="position: absolute;right: 10px;color:white;margin-left:10px">

                <i class="fa-solid fa-arrow-right-from-bracket" style="padding-left:10px"></i>
                @Html.ActionLink("Logout", "Logout", "AdminHome", new{},new { @class = "log" })

            <i class="fa-solid fa-user"></i>Admin
            </span>

            </ul>
            @*<span class="navbar-brand " style="position: absolute;right: 10px;color:white">
                Admin
            </span>*@
        </div>
    </nav>
    <div class="container body-content">

        @RenderBody()
        <hr />

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>




