<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  
    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Hostel Management system</h1>       
    </div>
   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar fixed-top  navbar-light" style="color: #e3f2fd;" >
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Home", "Index", "AdminHome")</li>
            <li>@Html.ActionLink("Users", "Users", "AdminHome")</li>
            <li>@Html.ActionLink("Rooms", "Rooms", "AdminHome")</li>
            <li>@Html.ActionLink("Allocated Rooms", "AllocatedRooms", "AdminHome")</li>

            <li>@Html.ActionLink("Track Rent", "TrackRent", "AdminHome")</li>

        </ul>
        <span class="navbar-brand " >
            Admin
        </span>
    </div>
    
    <div class="container body-content">

        @RenderBody()
        <hr />

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        </div>
</body>
</html>



