@model HostelManagement.Models.User
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <div class="p-5 text-center bg-light">
        <h1 class="mb-3">Hostel Management system</h1>


    </div>
    <h5 align="right" style="padding-right:4em">Hello, @Model.Name</h5>


    <div class="navbar fixed-top  navbar-light" style="background-color: #e3f2fd">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Profile", "Edit","UsersHome",new { }, new { id = Model.Id })</li>
            <li> @Html.ActionLink("Status of appliation", "SeeRequests", "UsersHome", new { }, new { id = Model.Id }) </li>
            <li>   @Html.ActionLink("Feedback", "Feedback","UsersHome", new { }, new { id = Model.Id })</li>

            <li>   @Html.ActionLink("track rent", "TrackRent", "UsersHome", new { }, new { id = Model.Id })</li>

            <li>@Html.ActionLink("Logout", "Logout", "UsersHome")</li>

        </ul>
    </div>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>



    <div class="container body-content">

        @RenderBody()
        <hr />

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>


