@model IEnumerable<HostelManagement.Models.complaint>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h2>Index</h2>


<table  class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sub)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.details)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.details)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
